@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* Variables */
:root {
  /* Colores */
  --first: #124;
  --second: #248;
  --light: #eee;
  --dark: #333;
  --grey: #282828;
  --yellow: #ffff00;
  --med: #c7c6c6;
  /* Tamaños */
  --small: 200px;
  --medium: 400px;
  --large: 600px;
  /* Tipografia */
  --font: "Roboto";
}

/* Estructura General del Estilo */
* {
  font-family: var(--font);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Reinicios de Estilos */
/* Margenes */
body,
h1,
h2,
h3,
h4,
header p,
.submenu,
.subitems,
.menu {
  margin: 0;
}

/* Rellenos */
.submenu,
.subitems,
.menu {
  padding: 0;
}

/* Bordes */
iframe {
  border: 0;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--light);
  text-shadow: 0.1rem 0.1rem 0.1rem var(--dark);
}

.darkModeSwitch {
  background: #3494b1;
  display: flex;
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 1.2rem;
  align-items: center;
  justify-content: space-between;
}

.darkModeSwitch span {
  width: 2.4rem;
  height: 2.4rem;
  line-height: 2.4rem;
  display: block;
  color: #fff;
  background: none;
}

.darkModeSwitch::after {
  display: block;
  background: #fffbf5;
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 1.2rem;
  transition: all 0.5s ease;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
  content: "";
}

.darkModeSwitch.active {
  background: #fdd384;
}

.darkModeSwitch.active::after {
  left: unset;
  right: 0;
}

body.dark > header > nav > .menu, body.dark > header > nav > .menu > .btnLog {
  background-color: #7f8186;
}

body.dark > main {
  background-color: #eeeeee !important;
}

header .menu {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--grey);
  color: var(--light);
  padding: 1rem 0;
  align-items: center;
  padding-left: 3rem;
}
header .menu a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
header .menu a:hover {
  color: var(--yellow);
}
header .menu h1,
header .menu p {
  padding-top: 2rem;
  text-align: center;
}
header .menu .btnLog, header .menu .btnLogout {
  background-color: var(--grey);
  padding: 0.3rem 1rem;
  border: none;
}
header .menu .btnLog a, header .menu .btnLogout a {
  color: var(--light);
}
header .menu .btnLog a:hover, header .menu .btnLogout a:hover {
  color: var(--yellow);
}
header .menu .btnLogout {
  color: var(--grey);
  font-size: 1.2rem;
}
header .menu .btnLogout:hover {
  color: var(--yellow);
}

:is(ul) li {
  min-width: 6rem;
  padding: 0.25rem 0.5rem;
  list-style: none;
}

body.dark > header .menu .btnLogout {
  background-color: #7f8186;
}

footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: var(--grey);
  color: var(--light);
  padding: 1rem 0;
  align-items: center;
}

.tabla {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
}
.tabla .imputs-valores {
  width: 600px;
  background-color: var(--med);
  border-radius: 1rem;
  padding: 5rem;
  box-shadow: -0.1rem 0.125rem 0.5rem var(--dark);
}
.tabla .imputs-valores .imputs {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  margin-top: 1rem;
  width: 100%;
  background-color: var(--med);
}
.tabla .imputs-valores .imputs label {
  background-color: var(--med);
  margin-top: 0.5rem;
}
.tabla .imputs-valores .imputs input,
.tabla .imputs-valores .imputs select,
.tabla .imputs-valores .imputs .boton {
  width: 220px;
  border: none;
  border-radius: 0.25rem;
}
.tabla .imputs-valores .imputs .boton {
  background-color: var(--second);
  color: var(--light);
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
  height: 2.5rem;
  box-shadow: -0.125rem 0.125rem 0.5rem var(--dark);
  cursor: pointer;
}
.tabla .imputs-valores .imputs .boton:hover {
  box-shadow: none;
}

.valor-cuota {
  background-color: var(--med);
  padding: 0.25rem 1rem;
}

.recuadro {
  font-weight: 600;
  background-color: var(--dark);
  color: var(--light);
  letter-spacing: 1px;
  padding: 1rem;
}

#tasaInteres {
  background-color: var(--med);
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.1rem;
  color: var(--second);
}

#main h1 {
  padding-top: 2rem;
}

.tiempo {
  padding: 2rem;
}
.tiempo h4 {
  color: var(--second);
  text-align: center;
  font-size: 1.2rem;
}

.refresh {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

#refresh {
  background-color: var(--second);
  color: var(--light);
  width: 450px;
  font-size: 1.2rem;
  padding: 0.5rem;
  height: 2.5rem;
  box-shadow: -0.125rem 0.125rem 0.5rem var(--dark);
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
}

body.dark > main > .tabla .imputs-valores .imputs .boton {
  background-color: #7f8186;
}

body.dark > main > .tiempo #refresh {
  background-color: #7f8186;
}

body.dark > main > .tiempo h4 {
  color: var(--dark);
}

body.dark > main > h1, body.dark > main > h2 {
  color: var(--dark);
  text-shadow: none;
}

#contenedor-productos {
  max-width: 1200px;
  margin: 5rem auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.producto {
  max-width: 400px;
  padding: 1.5rem;
  margin: 0.8rem;
  margin-bottom: 1.2rem;
  box-shadow: 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  background-color: #dadada;
}
.producto h3 {
  color: var(--dark);
  text-shadow: none;
}
.producto img {
  width: 100%;
  margin-bottom: 0.8rem;
}

.precioProducto {
  font-weight: 600;
}

.boton-agregar {
  background-color: var(--dark);
  color: var(--light);
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 0.25rem;
  width: 100%;
  box-shadow: 0.125rem 0.125rem 0.25rem #a4a5a5;
}

.boton-agregar:hover {
  cursor: pointer;
  box-shadow: none;
}

body.dark > #contenedor-productos {
  background-color: white !important;
}

body.dark .producto {
  background-color: var(--light);
}
body.dark .boton-agregar {
  background-color: #989898;
}

#logout {
  display: none;
}

#loginBtn {
  display: block;
}

.contenedor-ppal {
  display: flex;
  justify-content: center;
}
.contenedor-ppal .div-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 0 25% 0;
  background-color: var(--grey);
  padding: 2rem;
  border-radius: 1rem;
  width: 240px;
}
.contenedor-ppal .div-login input {
  margin: 10px 0px;
  min-width: 180px;
  max-width: 220px;
  border: none;
  border-radius: 0.25rem;
  height: 2rem;
}
.contenedor-ppal .div-login .btn {
  display: flex;
  justify-content: center;
}
.contenedor-ppal .div-login .btn input {
  background-color: var(--light);
  padding: 0.3rem 1rem;
  border-radius: 0.25rem;
  color: var(--dark);
  font-size: 1rem;
}

#login {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#logint,
#textoLogout {
  display: none;
}

#textoLogout {
  margin: 20% 0 30% 0;
}
#textoLogout h2 {
  color: #202020;
}
#textoLogout h2 span {
  color: #0000ff;
}

body.dark > main > .contenedor-ppal .div-login {
  background-color: #9e9e9e;
}
body.dark > main > .contenedor-ppal .div-login h2 {
  color: #282828;
  text-shadow: none;
}
body.dark > main > .contenedor-ppal .div-login form > .btn input {
  background-color: #282828;
  color: beige;
}

#boton-carrito {
  float: right;
  margin: 1rem;
  border: none;
  color: var(--second);
  font-size: 1.2rem;
  background-color: #f1f1f1;
  border-radius: 0.5rem;
  padding: 10px 20px;
  transition: all 0.3s;
}

#boton-carrito:hover {
  cursor: pointer;
  color: white;
  background-color: var(--second);
}

#boton-carrito:focus {
  outline: none;
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3019607843);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}

.modal-active {
  opacity: 1;
  visibility: visible;
}

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 1.5rem;
  margin-top: -100%;
  transition: all 0.5s;
  border-radius: 0.5rem;
}

.modal-active .modal-carrito {
  margin-top: 0;
}

.modal-carrito h3 {
  color: var(--second);
  padding-bottom: 5px;
}

.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: var(--second);
  border: none;
  background-color: white;
}

.modal-carrito #carritoCerrar:hover {
  cursor: pointer;
}

.modal-carrito #carritoCerrar:focus {
  outline: none;
}

.modal-carrito .precioProducto {
  padding-top: 10px;
}

.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.productoEnCarrito:hover {
  border-left: 5px solid var(--second);
}

.boton-eliminar {
  background-color: white;
  color: red;
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  cursor: pointer;
}

.boton-eliminar:focus {
  outline: none;
}

body.dark #boton-carrito {
  color: var(--grey);
  background-color: var(--light);
}
body.dark #boton-carrito:hover {
  color: var(--light);
  background-color: var(--grey);
}

#mapa {
  position: relative;
  min-height: min(100vh, 640px);
  padding: 5rem 0;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  z-index: 1;
}

/* Autor: Alejandro Di Stefano *//*# sourceMappingURL=style.css.map */