/* Formulario de Contacto */
#contact{
    max-width: 540px;
    display: grid;
    margin: 3rem auto;
    padding: 1.5rem;
    background: linear-gradient(#eee, #ccc);
    border-radius: .5rem;
    h2{
        color: var(--dark);
        text-shadow: none;
    }
    label{
        margin-top: .5rem;
        padding: .25rem;
    }
    input,
    textarea,
    select,
    button
    {        
        font-size: 1rem;
        padding: .25rem .5rem;
        border: none;
        height: 2rem;
        border-radius: .25rem;                
    }
    .btn{
        margin-top: 1.8rem;
        background-color: var(--second);
        color: var(--light);
    }
}

body.dark> main {    
        background-color: white !important;
    #contact{
        background: linear-gradient(#ccc, #eee);
    h2{
        color: var(--dark);
        text-shadow: none;
    }
    
    .btn{
        margin-top: 1.8rem;
        background-color: var(--dark);
    }
}
}