footer {    
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: var(--grey);
    color: var(--light);
    padding: 1rem 0;
    align-items: center;
    
}
