/* Variables */
:root{
    /* Colores */
    --first: #124;
    --second: #248;
    --light: #eee;
    --dark: #333;
    --grey: #282828;
    --yellow: #ffff00;
    --med: #c7c6c6;
    /* Tamaños */
    --small: 200px;
    --medium: 400px;
    --large: 600px; 
    /* Tipografia */
    --font: 'Roboto';
}

/* Estructura General del Estilo */
* {
    font-family: var(--font);
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Reinicios de Estilos */
/* Margenes */
body,
h1,
h2,
h3,
h4,
header p,
.submenu,
.subitems,
.menu {
    margin: 0;
}

/* Rellenos */
.submenu,
.subitems,
.menu {
    padding: 0;
}

/* Bordes */
iframe {
    border: 0;
}

h1, h2, h3 {
    text-align: center;
    color: var(--light);
    text-shadow: .1rem .1rem .1rem var(--dark);
}



